body {
  font-family: Arial, sans-serif;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  margin: 0;
  padding: 0;
  /* color: #000; */
}

#main-container {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 2%;
  /* color: #000; */
}

.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.divider-null {
  width: 100%;
  height: 0;
  border: 0;
  margin: 6px 0;
}

.title {
  font-weight: bold;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

/* .label-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
} */

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

input {
  margin: 0;
}

select,
input[type="text"],
.inputs input {
  width: 60%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

#search-comment-container {
  margin-top: -5px;
  font-size: 12px;
  font-style: italic;
  color: #555;
  max-width: 600px;
}

#start-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.std-button {
  width: fit-content;
  background-color: #40865c;
  color: #fff;
  padding: 6px 12px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.std-button:hover {
  background-color: #316947;
}

.std-button.large {
  padding: 8px 14px;
  font-size: 14px;
}

.std-button.non-active {
  background-color: #555;
}

.result-message {
  margin-top: 10px;
  /* font-size: 12px; */
}

.hidden {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.tab-buttons {
  display: flex;
  gap: 5px;
  /* margin-bottom: 10px; */
}

.tab-btn {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #cbcbcb;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

.tab-btn.active {
  background-color: #fff;
  border-bottom: none;
  font-weight: bold;
}

.tab {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.tab.active {
  display: block;
}
