body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 2%;
  color: #000;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
}

.divider-null {
  width: 100%;
  height: 0;
  border: 0;
  margin: 6px 0;
}

.title {
  font-weight: bold;
  margin: 0 0 16px 0;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

#header input {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

.labels label {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.labels,
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.inputs div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.inputs label {
  width: 30%;
  min-width: 100px;
  text-align: left;
  font-weight: bold;
}

select,
input[type="text"],
.inputs input {
  width: 60%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
}

#search-comment-container {
  margin-top: -5px;
  font-size: 12px;
  font-style: italic;
  color: #555;
  max-width: 600px
}

#start-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#start-button {
  padding: 8px 14px;
  font-size: 14px;
  background-color: #40865c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#start-button:hover {
  background-color: #316947;
}

.hidden {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  height: 0;
}
